
body
{
    color:cadetblue;
    font-size: 10pt;
    font-family: Verdana;
    line-height: 14pt;
    padding: 5pt;
    padding-left: 15pt;
    padding-right: 15pt;
    
    border-width: 2pt;
    border-color: black;
    border-style: groove;

    background-color:azure;

    text-align: center;
}

h1, h2
{
    font-weight: bold;
    line-height: 20pt;
    font-size: 20pt;

    border-width: 2pt;
    border-color: black;
    border-style: dashed;

    padding: 5pt;

    background-color:aquamarine;
}

header
{
    text-align: center;
    padding-bottom: 10pt;
}

footer, header
{
    text-align: center;
    font-size: 9pt;
    font-style: italic;
    padding-top: 10pt;
}

h1#mainTitle
{
    text-align:center;
}